@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Press+Start+2P&family=Space+Grotesk:wght@300..700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
body{
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: column;

}
header,footer{
    font-family: "Press Start 2P", cursive;
    text-align: center;
    color: yellow;
    background-color: #111620;
    padding: 16px;
}
footer{
    background-color: #222831;
    font-family: 'Times New Roman', Times, serif;
    color:white
}
footer a{
    color:white;
    vertical-align: middle;
}
main{
    flex:1;
    background-color:#222831;
    color: white;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    gap:64px;
    font-family: "Bitcount Single";
   
}
.text,#winner-msg{
   
    text-align: center;
    font-size: 25px;
}
#msg {
    min-height: 100px;
}
#score{
    margin-top: -44px;
    display: flex;
    justify-content: center;
    gap:144px;
    align-items: center;
    font-size: clamp(32px, 4vw, 64px);

}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:150px;
    height:150px;
    
}
.box .emoji-box{
    font-size: clamp(72px, 9vw, 140px);

}
#p-text,#c-text{
    font-size: 20px;
    /* font-weight: lighter */
}
.emoji-style{
    
font-size: clamp(42px, 5vw, 84px);
    background-color: #3a3f46;
    box-shadow:
            0 10px 25px rgba(0, 0, 0, 0.35),
            inset 0 1px 0 rgba(255, 255, 255, 0.05);
    
        cursor: pointer;
        /* transition: transform 0.15s ease, box-shadow 0.15s ease, background 0.15s ease; */
    border-radius: 20px;
    border: 0px;
    padding:0px;
    line-height: 1;
    
}
.emoji-box{
display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 130px;
}

#options{
    display: flex;
    gap:24px;
    align-items: center;
     margin:0 auto;

}
#options .emoji-box{
    font-size: clamp(48px, 6vw, 96px);
}